{% extends 'tracker/base.html' %}
{% load custom_filters %}

{% block title %}Stock Market Overview{% endblock %}

{% block content %}
    <h2>Stock Market Overview</h2>
    {% if overview_data %}
        <table>
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Date</th>
                    <th>Open</th>
                    <th>High</th>
                    <th>Low</th>
                    <th>Close</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in overview_data %}
                    <tr>
                        <td>{{ stock.ticker }}</td>
                        <td>{{ stock.date }}</td>
                        <td>${{ stock.open|floatformat:2 }}</td>
                        <td>${{ stock.high|floatformat:2 }}</td>
                        <td>${{ stock.low|floatformat:2 }}</td>
                        <td>${{ stock.close|floatformat:2 }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No market data available at the moment.</p>
    {% endif %}
{% endblock %}
