{% extends 'tracker/base.html' %}
{% load custom_filters %}

{% block title %}Stock Market Overview{% endblock %}

{% block content %}
    <h2>Stock Market Overview</h2>
    {% if stocks %}
        <table>
            <thead>
                <tr>
                    <th>Symbol</th>
                    <th>Current Price</th>
                    <th>High</th>
                    <th>Low</th>
                    <th>Volume</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in stocks|slice:":20" %}
                    <tr>
                        <td>{{ stock.T }}</td>
                        <td>${{ stock.c }}</td>
                        <td>${{ stock.h }}</td>
                        <td>${{ stock.l }}</td>
                        <td>{{ stock.v|add_comma }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No market data available at the moment.</p>
    {% endif %}
{% endblock %}